@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url("https://i.imgur.com/mRgQ31X.jpeg") no-repeat center center
    fixed;
  background-size: cover;
  height: 100%;
}

.cl-internal-b3fm6y {
  display: none;
}

.cl-rootBox,
.cl-signIn-root,
.cl-internal-phfxlr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%; /* h-screen equivalent */
}
